@{
    ViewData["Title"] = "Rentals";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var userId = Context.Session.GetInt32("UserId");

}

<div class="text-center">
    <h1 class="display-4">ABOUT</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>