@{
    ViewData["Title"] = "About US";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="~/css/style-c.css" asp-append-version="true" />
</head>
<body>
	<div class="header">
		<h1>Qonnec: Bridging Ideas, Building Futures</h1>
	</div>
	<div class="mid">
		<h2>About Us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="footer-like">
		<h1>Get to know the team!</h1>
		<p class="team-dets">
			At Qonnec, we pride ourselves on bringing together a diverse group of innovative thinkers, skilled professionals, and passionate leaders. Our team is dedicated to bridging ideas and building futures, ensuring that each project we undertake is executed with excellence, creativity, and a forward-thinking approach. Together, we strive to connect the dots and turn visions into reality, driving progress and creating impactful solutions for our clients and community.
		</p>
		<div class="man">
			<img src="/images/man.png" class="immg">
			<h4>Lorem ipsum</h4>
			<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</div>
		<div class="man-2">
			<img src="/images/man-2.png" class="immg">
			<h4>Lorem ipsum</h4>
			<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</div>
		<div class="man-3">
			<img src="~/images/man-3.png" class="immg">
			<h4>Lorem ipsum</h4>
			<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</div>
	</div>
</body>
</html>