@model Doable.Models.ForgotPasswordModel

@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
    ViewData["Title"] = "Forgot Password";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        @if (TempData["ForgotPasswordSuccess"] != null && TempData["ForgotPasswordSuccess"].ToString() == "True")
        {
            <div class="alert alert-success" role="alert">
                 Check your email for the password reset link.
            </div>
        }
        @if (TempData["ForgotPasswordError"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ForgotPasswordError"]
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="~/images/mini-logo.png" alt="Logo" class="img-fluid" />
                    <p>Enter your email to reset your password.</p>
                </div>
                <form asp-action="ForgotPassword" method="post">
                    <div class="u-p">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="buton">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
