@model Doable.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
    ViewData["Title"] = "Login";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
   
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="~/images/mini-logo.png" alt="Logo" class="img-fluid" />
                    <p>Sign in to start your session.</p>
                </div>
                <form asp-action="Login" method="post">
                    <div class="u-p">
                        <label asp-for="Username">Username</label>
                        <input asp-for="Username" class="form-control" placeholder="Enter your Username"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="u-p">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Enter your Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="fp">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div class="buton">

                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>

                    
                    
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>