@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div>
    <a class="btn btn-primary" asp-controller="Message" asp-action="SendMessage">Create New Message</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var message = item.Message;
            var latestReply = item.LatestReply;
            <tr>
                <td>@(message.Sender?.Username ?? "Unknown Sender")</td>
                <td>@(latestReply != null ? latestReply.Content : message.Content)</td>
                <td>
                    <a class="btn btn-info" asp-controller="Message" asp-action="ViewMessage" asp-route-id="@message.MessageId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
