@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewData["Title"] = "Client";
    var userId = Context.Session.GetInt32("UserId");
    if (userId != null)
    {
        <divcache class="hid">
            <p>User ID: @userId</p>
        </divcache>

    }
    else
    {
        <p>User not logged in.</p>
    }
}

<h1>Client Dashboard</h1>
<p>Welcome, Client!</p>