@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewData["Title"] = "Client";
    var userId = Context.Session.GetInt32("UserId");
    var username = Context.Session.GetString("Username");
    if (userId != null)
    {
        <divcache class="hid">
            <p>User ID: @userId</p>
        </divcache>

    }
    else
    {
        <p>User not logged in.</p>
    }
}


<h3>Welcome @username!</h3>
